language: generic

sudo: required
dist: bionic

addons:
  apt:
    packages:
    - rename
    - lynx

git:
  depth: 1

jobs:
  include:
    - stage: cleanup
      script: ./cleanup.sh
    - stage: full-motor-snp
      script: ./full-motor-snp.sh
    - stage: full-motor-srp
      script: ./full-motor-srp.sh
    - stage: feed
      script: ./feed.sh
    - stage: push
      script: ./build.sh
